<!--Author:NT-->
    <div id="page" style="margin-top:50px;margin-left:-10px;position:fixed;z-index:999;" >
        <nav  id="access" role="navigation">
            <div style="margin-left:-9px;">
                <ul class="menu">
                    <li>
                        <h4 class="tituloMenu">
                            <span style="color:blue" class="glyphicon glyphicon-th-list"></span>
                            Menu
                        </h4>
                        <ul class="menu">
                            <li>@Html.ActionLink(" Cadastro de Cliente", "ClientesCadastrados", "Cadastros")</li>
                            <li>@Html.ActionLink("Cadastro de Fornecedor", "FornecedoresCadastrados", "Cadastros")</li>
                            <li>@Html.ActionLink(" Cadastro de Funcionário", "FuncionariosCadastrados", "Cadastros")</li>
                            <li>@Html.ActionLink("Cadastro de Produto", "ProdutosCadastrados", "Cadastros")</li>
                            <li>@Html.ActionLink(" Cadastro de Venda", "VendasCadastradas", "Cadastros")</li>
                            <li>@Html.ActionLink("Cadastro de  Usuário", "UsuariosCadastrados", "Usuario")</li>
                            <li>@Html.ActionLink("Simular Preço de Produto", "SimularPreco", "Cadastros")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="menuLatBlack" style="position:fixed">
    </div>
